@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'al', sans-serif; */
  font-family: 'Inter', sans-serif;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #fafaff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1rem;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* icon check */
.gg-check-o {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 100px;
}

.gg-check-o::after {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 3px;
  top: -1px;
  width: 6px;
  height: 10px;
  border-color: currentColor;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform-origin: bottom left;
  transform: rotate(45deg);
}
