.header {
  position: relative;
  padding: 0 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
}

.nav_links {
  display: flex;
  gap: 2rem;
}

.nav_links a {
  color: #e2e2e2;
  padding: 12px 22px;
  background-color: #00acff;
  border-radius: 4px;
  transition: all 0.5s ease;

}

.nav_links a:hover {
  border: 1px solid #00acff;
  background-color: #fff;
  color: black
}

.action_btn {
  display: inline-block;
  border: 1px solid #00acff;
  color: rgb(34, 24, 131);
  padding: 0.5rem 2rem;
  /* border: none; */
  outline: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  /* animation: scale 0.2 ease; */
  transition: all 0.5s ease;

}

.action_btn:hover {
  background-color: #00acff;
  color: black
}

.action_btn:active {
  scale: 0.95;
}

/* Dropdown Menu */
.dropdown_menu {
  display: none;
  position: absolute;
  top: 60px;
  right: 2rem;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  overflow: hidden;
  border-radius: 12px;
  animation: wobble linear 0.4s;
}

.dropdown_menu li {
  text-align: center;
}

.dropdown_menu li a {
  display: inline-block;
  width: 100%;
  padding: 0.7rem;
  background-color: #fff;
  color: #1b1919;
  border-radius: 4px;
}

.dropdown_menu li:last-child {
  width: 100%;
  padding-bottom: 22px;
}

.dropdown_menu .action_btn {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.dropdown_menu.open {
  height: 240px;
  display: block;
}

.toggle_btn {
  display: none;
  font-size: 28px;
  color: white;
}

.toggle_btn:hover {
  cursor: pointer;
  opacity: 0.9;
}

/* Reponsive */
@media (max-width: 992px) {

  .navbar .nav_links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    /* display: block; */
  }
}

/* Animation */
@keyframes wobble {
  0% {
    right: 0px;
  }

  100% {
    right: 2rem;
  }
}