.ocr {
  margin-top: 120px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  margin-bottom: 22px;
}

.box_ocr {
  width: 800px;
  height: 700px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.demo_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.box_ocr .box_img {
  width: 350px;
  height: 400px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.box_ocr .box_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.box_ocr .box_result {
  width: 350px;
  height: 400px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}